
$green: #23d160;
$primary: $green;

$link-visited: $primary;

@import "~bulma";

.isGreen {
  color: $green;
}

.column {
  // white-space: nowrap;
}

.filter {
  display: none;
}

.flag {

  user-select: none;

  &:hover {
    cursor: pointer;
  }

  .placeholder-image {
    width: 25px;
    visibility: hidden;
  }

  .de_de & {
    background-image: url('../assets/images/flags/de_de.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .us_us & {
    background-image: url('../assets/images/flags/us_us.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}



.announced {

  img {
    opacity: .3;
  }

  &:after {
    content: "Announced";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.2em;
  }
}
