
$green: #23d160;
$primary: $green;

$link-visited: $primary;

@import "~bulma";

.isGreen, .is-green {
  color: $green;
}

.is-red {
  color: $red;
}

.car {


  ul:empty {
    display: none;
  }
}

.filter {
  // display: none;

  .columns {
    // display: none;
  }
}

.flag {
  border-radius: 50%;
  user-select: none;

  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }

  .de_de & {
    background-image: url('../assets/images/flags/de_de.png');
  }

  .us_us & {
    background-image: url('../assets/images/flags/us_us.png');
  }



  .placeholder-image {
    width: 22px;
    visibility: hidden;
  }
}



.announced {

  img {
    opacity: .3;
  }

  &:after {
    content: "Announced";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.2em;
  }
}
